.search-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 55px 0;

  }
  
.search-title {
     font-size: 32px;
     font-weight: 500;
     color: #428780;
     margin-bottom: 20px;
     text-align: left;
     font-family: 'Lalezar';
     line-height: 38px;
     text-shadow: 0px 1px 2px rgba(66, 135, 128, 0.2);
   }
  
  .search-bar {
    background-color: #52A39B;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-options {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
  }
  
  .trip-type p,
  .passengers-dropdown p {
    color: white;
    font-weight: 500;
    margin: 0;
  }
  
  .passengers-dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  
  .dropdown-arrow {
    color: white;
    font-size: 12px;
  }
  
  .search-fields {
    display: grid;
    grid-template-columns: 1fr auto 1fr 1fr 1fr auto;
    gap: 10px;
    align-items: center;
    
  }
  
  .field-group {
    position: relative;
    font-size: 25px;
  }
  
  .field-label {
    display: block;
    font-size: 12px;
    color: #ccc;
    margin-bottom: 4px;
    text-align: left;
  }
  
  .input-with-icon {
    position: relative;
    background-color: white;
    padding: 8px 12px;
    display: flex;
    align-items: center;
  }
  
  .field-icon {
    color: #428780;
    margin-right: 8px;
  }

  
  
  .input-with-icon input {
    border: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    outline: none;
  }
  
  .exchange-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .exchange-button {
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #428780;
  }
  
  .search-button {
    background-color: #428780;
    color: white;
    border: none;
    padding: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 22px;
    margin-top: 25px;
  }
  
  .search-button:hover {
    background-color: #27785c;
  }
  
  @media (max-width: 1024px) {
    .search-fields {
      grid-template-columns: 1fr 1fr;
    }
  
    .exchange-button-container {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .search-options {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .search-fields {
      grid-template-columns: 1fr;
    }
  }
  