.header_container {
  background-color: #b8dccc;
  display: flex;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_icon {
}

.header_title {
  color: #428780;
}

.header_list {
  list-style: none;
  display: flex;
}

.header_list li a {
  color: #428780;
}

.header_signIn button {
  color: #428780;
}
